<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>Login</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <section>
        <form action="/login" method="post">
            <div th:if="${error != null}">
                <p th:text="'⚠️ ' + ${error}">Erreur</p>
            </div>

            <label for="email">Adresse email</label>
            <input required type="email" name="email" id="email">

            <label for="password">Mot de passe</label>
            <input required type="password" name="password" id="password">

            <button type="submit">Connexion</button>
        </form>
        <p>
            Pas encore de compte ? Cliquez <a th:href="@{'register'}">ici</a> !
        </p>
    </section>
</main>
</body>
</html>