<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li th:if="${#ctx.session.get('user') == null}"><a href="/login">Connection</a></li>
                <li th:if="${#ctx.session.get('user') == null}"><a href="/register">register</a></li>
                <li th:if="${#ctx.session.get('user') != null}"><a href="/logout">logout</a></li>

            </ul>
        </nav>
    </header>
<main>
    <h1>Register</h1>
    <div class="formMessage error" th:if="${error != null}" th:text="${error}"></div>
    <div class="formMessage success" th:if="${success != null}" th:text="${success}"></div>

    <form action="/register" method="post">
        <div>
            <label for="firstName">firstName</label>
            <input required id="firstName" name="firstName" type="text">
        </div>
        <div>
            <label for="lastName">lastName</label>
            <input required id="lastName" name="lastName" type="text">
        </div>
        <div>
            <label for="email">email</label>
            <input required id="email" name="email" type="email">
        </div>
        <div>
            <label for="password">password</label>
            <input required id="password" name="password" type="password">
        </div>
        <div>
            <label for="cpassword">confirm password</label>
            <input required id="cpassword" name="cpassword" type="password">
        </div>
        <button type="submit">register</button>
    </form>
</main>


</body>
</html>