<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/auth/register.css">
    <link rel="stylesheet" href="/css/fragments/form.css">
    <title>Inscription</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <section>
        <form th:action="@{'/register' + ${redirect != null ? '?redirect=' + redirect : ''}}" method="post">
            <div th:if="${error != null}">
                <p th:text="'⚠️ ' + ${error}">Erreur</p>
            </div>

            <label for="lastName">Nom de famille</label>
            <input required type="text" name="lastName" id="lastName">

            <label for="firstName">Prénom</label>
            <input required type="text" name="firstName" id="firstName">

            <label for="email">Adresse email</label>
            <input required type="email" name="email" id="email">

            <label for="password">Mot de passe</label>
            <input required type="password" name="password" id="password">

            <label for="confirmPassword">Confirmation mot de passe</label>
            <input required type="password" name="confirmPassword" id="confirmPassword">

            <button type="submit">Inscription</button>
        </form>
        <p>
            Déja un compte ? Cliquez <a th:href="@{'/login' + ${redirect != null ? '?redirect=' + redirect : ''}}">ici</a> !
        </p>
    </section>
</main>
</body>
</html>