<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes Articles</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user/my-articles.css">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <section>
            <h1 th:if="${articles.isEmpty()}">
                Vous n'avez pas encore d'articles 😟 ! Cliquez <a th:href="@{'/article/add'}">ici</a> pour en créer un.
            </h1>
            <ul>
                <li th:each="article : ${articles}">
                    <a th:text="${article.title}" th:href="@{'/article/' + ${article.id}}">Article link</a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>