<header>
    <nav>
        <ul>
            <li><a th:href="@{'/'}">Accueil</a></li>
            <li><a th:href="@{'/article'}">Tous les Articles</a></li>
            <li><a th:href="@{'/my-articles'}">Mes Articles</a></li>
        </ul>
    </nav>
    <div>
        <ul>
            <li th:if="${#ctx.session.get('login') == null}"><a href="/register">Inscription</a></li>
            <li th:if="${#ctx.session.get('login') == null}"><a href="/login">Connexion</a></li>
            <li th:if="${#ctx.session.get('login') != null}"><a href="/logout">Déconnexion</a></li>
        </ul>
    </div>
</header>