<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ajouter un article</h1>
<form action="#" th:action="@{/article}" th:object= "${article}" method="post">
    <label for="id">ID:</label><br>
    <input type="number" id="id" th:field="*{id}"><br>
    <label for="title">Titre:</label><br>
    <input type="text" id="title" th:field="*{title}"><br>
    <label for="content">Contenu:</label><br>
    <textarea id="content" th:field="*{content}"></textarea><br>
    <input type="submit" value="Ajouter l'article">
</form>

</body>
</html>