<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cours SPRING</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a>Home</a></li>
            </ul>
            <div th:if="${session.currentUser != null}" style="float: right;">
                <span th:text="${session.currentUser.firstName}">Prénom</span>
                <a href="/logout" th:href="@{/logout}" style="margin-left: 10px;">Déconnexion</a>
            </div>
        </nav>
    </header>
    <main>

        <div th:text="${#ctx.session.size()}">
        </div>

        <section>
            <!-- ALL ARTICLE LIST -->
            <div>
                <article th:each="article : ${articles}">
                    <h2 th:text="${article.title}">Titre article</h2>
                    <a th:href="@{'/article/' + ${article.id}}">Lien vers l'article</a>
                </article>
            </div>  
        </section>
        <section th:if="${session.currentUser != null}">
            <!-- ADD ARTICLE  -->
            <form method="post" action="/article">
                <div>
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title">
                </div>
                <div>
                    <label for="content">Contenu</label>
                    <textarea id="content" name="content"></textarea>
                </div>
                <button type="submit">Ajouter</button>
            </form>
        </section>
    </main>
</body>
</html>
