<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Login</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/article">Home</a></li>
        </ul>
    </nav>
    <div>
        <ul>
            <li th:if="${login == null}"><a href="/user/register">Inscription</a></li>
            <li th:if="${login == null}"><a href="/user/login">Connexion</a></li>
            <li th:if="${login != null}"><a href="/logout">Déconnexion</a></li>
        </ul>
    </div>
</header>
<main>
    <section>
        <form action="/register" method="post">
            <label for="lastName">Nom de famille</label>
            <input type="text" name="lastName" id="lastName">

            <label for="firstName">Prénom</label>
            <input type="text" name="firstName" id="firstName">

            <label for="email">Adresse email</label>
            <input type="email" name="email" id="email">

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">

            <button type="submit">Inscription</button>
        </form>
        <p>
            Déja un compte ? Cliquez <a th:href="@{/user/register}">ici</a> !
        </p>
    </section>
</main>
</body>
</html>